<div id="view-frozen-products">
    <div class="page-header-container">
        <h1 class="page-header" style="margin-bottom: 0;">Mražené produkty</h1>
        <div>
            <button class="btn btn-primary" data-action="open-add-frozen-product-modal"><i data-feather="plus"></i>Vytvořit</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h2 class="card-title">Seznam mražených produktů</h2></div>
        <div class="card-content">
            <table class="data-table" id="frozen-products-table">
                <thead>
                    <tr>
                        <th>Název</th>
                        <th>Surovina</th>
                        <th>Váha kartonu (kg)</th>
                        <th class="actions">Akce</th>
                    </tr>
                </thead>
                <tbody id="frozen-products-table-body">
                    <!-- JS generated content -->
                </tbody>
            </table>
        </div>
    </div>
</div>