<div id="view-kfc-products">
    <h1 class="page-header">KFC Produkty</h1>
    <div class="card">
        <div class="card-content">
            <table class="data-table" id="kfc-products-table">
                <thead><tr><th>Název Produktu</th><th>Váha Bedny (g)</th><th>Čas/bedna (min)</th><th>Potřebná Surovina</th></tr></thead>
                <tbody></tbody>
            </table>
        </div>
        <div style="text-align: right; margin-top: 20px;">
            <button class="btn btn-primary" id="save-kfc-products-btn" data-action="save-kfc-products"><i data-feather="save"></i>Uložit změny</button>
        </div>
    </div>
</div>
