<div id="view-palette-weights">
    <h1 class="page-header">Váhy palet a beden</h1>
    <div class="card">
        <table class="data-table" id="palette-weights-table">
            <thead><tr><th>Surovina</th><th>Váha palety (kg)</th><th>Váha bedny (kg)</th></tr></thead>
            <tbody id="palette-weights-table-body"></tbody>
        </table>
         <div style="text-align: right; margin-top: 20px;">
             <button class="btn btn-primary" id="save-all-palette-weights-btn" data-action="save-all-palette-weights"><i data-feather="save"></i>Uložit všechny změny</button>
         </div>
    </div>
</div>